[Unit]
Description=RClone mount of users remote %i using filesystem permissions
Documentation=http://rclone.org/docs/
After=network-online.target

[Service]
Type=notify

Environment=MOUNT_DIR="%h/%i"
Environment=RCLONE_CONF="%h/.config/rclone/rclone.conf"
Environment=RCLONE_TEMP_DIR="/tmp/rclone/%u/%i"

EnvironmentFile=-%h/.config/rclone/%i.env

ExecStartPre=/usr/bin/test -x /usr/bin/rclone
ExecStartPre=/usr/bin/test -d "${MOUNT_DIR}"
ExecStartPre=/usr/bin/test -w "${MOUNT_DIR}"
ExecStartPre=/usr/bin/test -f "${RCLONE_CONF}"
ExecStartPre=/usr/bin/test -r "${RCLONE_CONF}"

# Cache Warming
ExecStartPre=/bin/sh -c "/usr/bin/rclone ls %i: > /dev/null"
ExecStartPre=/bin/sh -c "/usr/bin/rclone lsd %i: > /dev/null"

ExecStart=/usr/bin/rclone mount \
    --config="${RCLONE_CONF}" \
    --rc=false \
    --cache-tmp-upload-path="${RCLONE_TEMP_DIR}/upload" \
    --cache-chunk-path="${RCLONE_TEMP_DIR}/chunks" \
    --cache-workers=8 \
    --cache-writes \
    --cache-dir="${RCLONE_TEMP_DIR}/vfs" \
    --cache-db-path="${RCLONE_TEMP_DIR}/db" \
    --no-modtime \
    --drive-use-trash \
    --stats=5m \
    --attr-timeout=10s \
    --dir-cache-time=24h \
    --dir-perms=0770 \
    --file-perms=0660 \
    --poll-interval=10m0s \
    --umask=022 \
    --vfs-cache-max-age=1w \
    --vfs-cache-max-size=10g \
    --vfs-cache-mode=full \
    --vfs-cache-poll-interval=5m0s \
    --vfs-fast-fingerprint \
    --drive-chunk-size=32M \
    --drive-upload-cutoff=100M \
    --drive-pacer-min-sleep=200ms \
    --drive-pacer-burst=50 \
    --vfs-read-ahead=256M \
    --gid="%G" \
    --uid="%U" \
    "%i:/" "${MOUNT_DIR}"

ExecStop=/bin/fusermount -u "${MOUNT_DIR}"

Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target